node_modules/
config.json
ipns.json
zt_report/input_jsons/*.json
zt_report/input_jsons/.ipynb_checkpoints
zt_report/_build
zt_report/__pycache__
zt_report/.ipynb_checkpoints
zt_report/reports/multiIssueReport/*.*
zt_report/reports/ztReport/*.*
zt_report/reports/temp_multiIssueReport/*.*
# exception to the rule
!zt_report/input_jsons/.gitkeep 
pdftk/
pkg/
build/
debinstall/zerotheft-holon/opt/.zerotheft/build
debinstall/zerotheft-holon/opt/.zerotheft/zt_report
debinstall/zerotheft-holon/usr/local/bin/*
debinstall/*.deb
.idea
.history
config.private.json
config.staging.json
config.production.json
ipns.json
contracts.*
integrity-profile/
pdftk/
git-release.sh
