{
  "MODE": "development",
  "PORT": 3000,
  "SHOULD_VALIDATE": false,
  "HTTP_PROVIDER": "http://localhost:8545",
  "ADDRESS_ENCRYPT_KEY": "zerotheft123",
  "ZERO_THEFT_CONTRACT": "/zerotheft/zerotheft/build/contracts",
  "HONEYBADGER_KEY": "<YOUR_HONEYBADGER_KEY>",
  "BUILD_PATH": "<YOUR_REACT_BUILD_PATH>",
  "REPORT_PATH": "zt_report",
  "APP_PATH": "/home/zt-holon/.zerotheft",
  "GAS_PRICE": 1,
  "GAS_LIMIT": 4612388
}
