{
  "MODE": "development",
  "PORT": 3000,
  "SHOULD_VALIDATE": false,
  "HTTP_PROVIDER": "http://localhost:7545",
  "ADDRESS_ENCRYPT_KEY": "zerotheft123",
  "ZERO_THEFT_CONTRACT": "/zerotheft/zerotheft/build/contracts",
  "ETHERSCAN_API_KEY": <YOUR_ETHERESCAN_API>,
  "LINKED_IN_CLIENT_SECRET": "<YOUR_LINKEDIN_SECRET>",
  "LINKED_IN_CLIENT_ID": "<YOUR_LINKEDIN_ID>",
  "GIT_API_TOKEN": "<YOUR_GIT_API_TOKEN>",
  "HONEYBADGER_KEY": "<YOUR_HONEYBADGER_KEY>",
  "BUILD_PATH": "<YOUR_REACT_BUILD_PATH>",
  "REPORT_PATH": "zt_report",
  "APP_PATH": "/home/zt-holon/.zerotheft",
  "REDIS_PORT": 6380,
  "GAS_PRICE": 1,
  "GAS_LIMIT": 4612388,
}
