{
    "MODE":"staging",
    "DESKTOP_APP": "http://localhost:6549",
    "PORT":40107,
    "SHOULD_VALIDATE": false,    
    "HTTP_PROVIDER": "https://matic-mumbai.chainstacklabs.com",
    "WEB_PROVIDER": "wss://ws-matic-mumbai.chainstacklabs.com",
    "ZERO_THEFT_CONTRACT": "https://zerotheft-contract-artifacts.s3.amazonaws.com",
    "ADDRESS_ENCRYPT_KEY": "zerotheft123",
    "HONEYBADGER_KEY": "<YOUR_HONEYBADGER_KEY>",
    "GAS_PRICE": 3,
    "GAS_LIMIT": 4612388,
    "NETWORK_ID":80001,
    "NETWORK_NAME":"stagingnet",
    "REPORT_PATH": "zt_report"
}