{
  "MODE": "production",
  "DESKTOP_APP": "http://localhost:6549",
  "PORT":40107,
  "SHOULD_VALIDATE": false,
  "HTTP_PROVIDER": "https://www.ethercluster.com/etc",
  "ETH_HTTP_PROVIDER": "https://mainnet.infura.io/v3/2e00c30810a048b582f070d2c732b9a9"
  "ADDRESS_ENCRYPT_KEY": "zerotheft123",
  "HONEYBADGER_KEY": "<YOUR_HONEYBADGER_KEY>",
  "GAS_PRICE": 10,
  "GAS_LIMIT": 4612388,
  "REPORT_PATH": "zt_report"
}
